Vitrea/Temp
Vitrea/Logs
Vitrea/ProjectSettings
Vitrea/Library
Vitrea/Packages
Vitrea/.collabignore
Vitrea/UserSettings

*.csproj
*.pidb
*.unityproj
*.suo
*.sln
*.svd
*.userprefs
*.user
*.booproj
*.meta
*.asset
*.dll
*.pdb
*.txt
*.hash